  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins",sans-serif;
  }
  body{
    background-size: cover;
    background:url('https://images.unsplash.com/photo-1674559540301-5ef1c838972a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }
  .container{
    background-color: rgb(30, 30, 22);
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 420px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

  }
  .container h1{
    font-size: 36px;
    text-align: center;

  }
  .container .Input-box-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
  }
  .Input-box-container input{
    width: 100%;
    height: 100%;
    background-color: transparent;
  padding-left: 30px;
   border: none;
   outline: none;
   border: 2px solid rgb(255,255,255,.2);
   border-radius: 40px;
   font-size: 16px;
   color: #fff;
   padding: 20px 45px 20px 20px;
  }

  .Input-box-container input::placeholder{
    color: #fff;
  }

  .Input-box-container i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .container .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .remember-forget label input{
    accent-color: rgb(255, 255, 255);
    color: #fff;
    margin-right: 3px;
  }
  .remember-forget input{
    align-items: center;
  }
  .remember-forget a{
    color: #fff;
    text-decoration: none;
  }
  .remember-forget a:hover{
    text-decoration: underline;
  }
  .submit-btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    font-size: 20px;
    color: black;
    font-weight: 600;
  }

  .container .register-user{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px;
  }

  .register-user p a{
    color: #fff;
    text-decoration: none;
     }
  .register-user p a:hover{
    text-decoration: underline;
  }
  .register-user a{
    margin-left: 10px;
  }
  .submit-btn:hover {
    background-color: rgba(255, 255, 255, 0.859);
  }